:root {
    --main-color: #026ab5;
    --success-color: #02b875;
    --info-color: #0288d1;
    --warning-color: #f57c00;
    --error-color: #d32f2f;
    --success-hover-color: #338033;
}

.default-btn {
    padding: 8px 17px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    margin: 10px;
    transition: .6s;
    overflow: hidden;
    position: relative;
}
.default-btn:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
}
.default-btn:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}
.default-btn:hover{
    cursor: pointer;
}
.default-btn:hover:before{
    transform: translateX(300px)  skewX(-15deg);  
    opacity: 0.6;
    transition: .5s;
}
.default-btn:hover:after{
    transform: translateX(300px) skewX(-15deg);  
    opacity: 1;
    transition: .5s;
}
.btn-success {
    background: var(--success-color);
}
.btn-success:hover {
    background: var(--success-hover-color);
}