.table {
    width: 100%;
    border: 1px solid #ddd;
    table-layout: auto;
    border-radius: 0.25rem;
}
.table tr {
    border-bottom: 1px solid #ddd;
}
.table thead td {
    cursor: pointer;
}
.table td {
    padding: 0.5rem;
}
.table td.drawActions {
    display: flex;
    align-items: center;
    border: none;
    gap: 1rem;
}
.dropdown {
    opacity: 0;
    display: inline;
    margin-left: 5px;
    transition: transform 0.2s ease-in-out;
}
.dropdown.active {
    opacity: 1;
}
.dropdown.desc {
    transform: rotate(-180deg);
}