.table {
    width: 100%;
    border: 1px solid #ddd;
    table-layout: auto;
    border-radius: 0.25rem;
}
.table tr {
    border-bottom: 1px solid #ddd;
}
.table td {
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
}
.table td.drawActions {
    display: flex;
    align-items: center;
    border: none;
    gap: 1rem;
}